@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.multiselect {
  @apply w-full rounded-md bg-gray-100 hover:bg-gray-200 flex items-center justify-center text-xs font-semibold text-gray-700;
}

.title {
  @apply text-2xl font-semibold text-gray-700;
}

.label {
  @apply text-gray-700 text-sm font-semibold;
}
